/* font style for this site */
*{
    font-family: "Work Sans", sans-serif;
}
/* header style  */

/* nav section of header */
header{
    background-color: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}
.header-title{
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav>ul{
    display: flex;
}
nav>ul>li{
    margin-left: 40px;
    list-style: none;
    font-size: 1rem;
    font-weight: 500;
}
nav>ul>li>a{
    text-decoration: none;
    color: #424242;
}

/* banner ection od header */
.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0px auto;
}
.banner-title{
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}
.banner-description{
    color: #727272;
}
.primary-button{
    border-radius: 8px;
    background-color: #FF900E;
    padding: 20px 25px;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    border: 0;
}
.banner-section>img{
    width: 100%;
    margin-top: 30px;
}

/* main styles */
main{
    max-width: 1440px;
    margin: 70px auto;
    padding: 0px 200px;
}

/* teams style part */
.team-section{
    display: flex;
    align-items: center;
}
.teams_image_container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}
.team_image{
    height: 342px;
    width: 342px;
}
.teams_content{
    padding: 0px 50px 0px 50px;
}
.teams_title{
    color: #727272;
    font-size: 2.8rem;
    font-weight: 500;
}
.teams_title_p2{
    color: #131313;
    font-weight: 700;
}
.teams_title_p3{
    color: #FF900E;
    font-weight: 700;
}
.teams_description{
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
}

/* feature section start */
.feature_section{
    margin-top: 100px;
    display: flex;
    gap: 80px;
}
.feature_section_title{
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 0;
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}
.feature_section_text{
    color: #727272;
    font-size: 16px;
    font-weight: 400;
    margin-top: 15px;
}
.feature_portion{
    padding: 20px;
}
.portion_one , .portion_two ,.portion_three , .portion_four{
    margin-top: 5px;
    box-shadow: 0px 8px 30px 0px #727272;
    border-radius: 12px;
    padding: 5px;
}
.portion_title{
    color: #131313;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 0;
}
.portion_text{
    color: #727272;
    font-size: 16px;
    font-weight: 400;
    margin-top: 10px;
}
.feature_section_image{
    width: 620px;
    height: 900px;
}
.time_target{
    width: 250px;
    height: 150px;
    background-color: #FF900E;
    color: #FFF;
    text-align: center;
    padding: 20px;
    border-radius: 35px 0px 35px 0px;
    box-shadow: 0px 8px 30px 0px #727272;
    position: relative;
    bottom: 100px;
    right: 70px;
}
.time_target_title{
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 0;
}
.time_target_text{
    font-size: 20px;
    font-weight: 400;
    margin-top: 8px;
}


/* facts style part */
.facts_title{
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
}
.facts_description{
    color: #727272;
    font-size: 1.2rem;
    font-weight: 400;
}
.facts-card-container{
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    margin-left: 45px;
    margin-top: 70px;
}
.card{
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 1.7rem;
}
.card-stats{
    font-size: 2.8rem;
    font-weight: 600;
    color: #424242;
    margin: 0;
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
}
.card-details{
    color: #727272;
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
}

/* sponsor start part */
.sponsors_section{
    text-align: center;
}
.sponsor_title{
    font-size: 2.8rem;
    color: #131313;
    font-weight: 700;
}
.sponsor_details{
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
}
.sponsor_container{
    margin-top: 2.2rem;
    display: flex;
    justify-content: space-evenly;
    padding: 1.8rem;
    align-items: center;
}
.sponsor_container img{
    width: 165px;
}
.footer_part{
    height: 4.4rem;
    width: 62.5rem;
    border-radius: 8px;
    background: #FFF4E7;
    margin: 30px auto;
    border: solid 2px #FF900E;
}
.footer_text{
    color: #424242;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    padding: 0;
}



/* responsive banner of header */


/* mobile devices */
@media screen and (max-width: 576px){
    /* header start */
    header{
        padding: 20px;
    }
    nav{
        flex-direction: column;
    }
    nav>ul{
        flex-direction: column;
    }
    nav>ul>li{
        margin-top: 30px;
    }
    /* header end */

    /* main start */
    /* main team section */
    main{
        padding: 30px;
    }
    .team-section{
        flex-direction: column;
    }
    .teams_image_container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
    }
    .teams_content{
        padding: 0px 15px 0px 15px;
    }

    /* main fact section */
    .facts-card-container{
        flex-direction: column;
        margin-left: 25px;
    }
    .card{
        margin-top: 1.4rem;
    }
    .sponsor_container{
        flex-direction: column;
        padding: 1.2rem;
    }
    .sponsor_container img{
        margin-top: 25px;
    }
    .feature_section{
        flex-direction: column;
    }
    .feature_section_photo{
        flex-direction: column;
    }
    .time_target{
        position: relative;
        bottom: 80px;
        left: 60px;
    }
    /* main end */
    .footer_part{
        width : 100%;
    }
    .footer_text{
        font-size: 15px;
        padding: 8px;  
    }
}

/* medium devices */
@media screen and (min-width: 576px) and (max-width: 1430px) {
    /* header start */
    header{
        padding: 80px;
    }
    nav{
        flex-direction: column;
    }
    /* header end */

    /* main start */
    /* main team section */
    .team-section{
        flex-direction: column;
    }
    .facts-card-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
    .card{
        margin-top: 15px;
    }
    .sponsor_container{
        flex-direction: column;
        padding: 1.2rem;
    }
    .sponsor_container img{
        margin-top: 25px;
    }
    .feature_section{
        flex-direction: column;
    }
    .feature_section_photo{
        flex-direction: column;
    }
    .time_target{
        position: relative;
        bottom: 80px;
        left: 160px;
    }
    /* main end */
    .footer_part{
        width : 100%;
    }
    .footer_text{
        font-size: 15px;
        padding: 8px;  
    }
}